<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Agregar Cliente</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="create">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input required type="text" class="form-control" v-model="customer.name">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <input required type="text" class="form-control" v-model="customer.lastname">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input required type="text" class="form-control" v-model="customer.email">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Organización</label>
                                    <input required type="text" class="form-control" v-model="customer.organization">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Número telefónico</label>
                                    <input required type="text" class="form-control" v-model="customer.numberphone">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Tipo de cliente</label>
                                    <select required class="form-control" v-model="customer.customertype_id">
                                      <option disabled value="">Seleccione...</option>
                                      <option value="1">Natural</option>
                                      <option value="2">Empresarial</option>
                                      <option value="3">Otro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Descripción del tipo de cliente</label>
                                    <input type="text" class="form-control" v-model="customer.description_customertype">
                                </div>
                            </div>


                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"add-category",
    data(){
        return {
            customer:{
                name:"",
                lastname:"",
                email:"",
                organization:"",
                numberphone:"",
                customertype_id:"",
                description_customertype:"",
            }
        }
    },
    methods:{
        async create(){
            await this.axios.post('/api/customer',this.customer).then(response=>{
                this.$router.push({name:"categoryList"})
            }).catch(error=>{
                console.log(error)
            })
        }
    }
}
</script>