<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Update Category</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" v-model="customer.name">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Apellido</label>
                                    <input type="text" class="form-control" v-model="customer.lastname">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" v-model="customer.email">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Organiación</label>
                                    <input type="text" class="form-control" v-model="customer.organization">
                                </div>
                            </div>

                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Número de télefono</label>
                                    <input type="text" class="form-control" v-model="customer.numberphone">
                                </div>
                            </div>




                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>tipo de Cliente</label>

                                    <select :selected= "customer.customertype_id == 1"  class="form-control" v-model="customer.customertype_id">
                                      <option value="1">Natural</option>
                                      <option value="2">Empresarial</option>
                                      <option value="3">Otro</option>
                                    </select>


                                </div>
                            </div>




                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Descripción tipo clkiente</label>
                                    <input type="text" class="form-control" v-model="customer.description_customertype">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"update-category",
    data(){
        return {
            customer:{
                name:"",
                lastname:"",
                email:"",
                organization:"",
                numberphone:"",
                customertype_id:"",
                description_customertype:"",
                _method:"patch"
            }
        }
    },
    mounted(){
        this.showCustomer()
    },
    methods:{
        async showCustomer(){
            await this.axios.get(`/api/customer/${this.$route.params.id}`).then(response=>{
                const { name, lastname, email, organization, numberphone, customertype_id, description_customertype } = response.data
                this.customer.name = name
                this.customer.lastname = lastname
                this.customer.email = email
                this.customer.organization = organization
                this.customer.numberphone = numberphone
                this.customer.customertype_id = customertype_id
                this.customer.description_customertype = description_customertype
            }).catch(error=>{
                console.log(error)
            })
        },
        async update(){
            await this.axios.post(`/api/customer/${this.$route.params.id}`,this.customer).then(response=>{
                this.$router.push({name:"categoryList"})
            }).catch(error=>{
                console.log(error)
            })
        }
    }
}
</script>