
<template>
    <div class="row">
        <div class="col-12 mb-2 text-end">
            <router-link :to='{name:"customerAdd"}' class="btn btn-primary">Crear</router-link>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Clientes</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                    <th>Organización</th>
                                    <th>Número telefónico</th>
                                    <th>Tipo cliente</th>
                                    <th>Descripción tipo cliente</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody v-if="customers.length > 0">
                                <tr v-for="(customer,key) in customers" :key="key">
                                    <td>{{ key+1 }}</td>
                                    <td>{{ customer.name }}</td>
                                    <td>{{ customer.lastname }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>{{ customer.organization }}</td>
                                    <td>{{ customer.numberphone }}</td>
                                    <td>{{ customer.customertype.name }}</td>
                                    <td>{{ customer.description_customertype }}</td>
                                    <td>
                                        <router-link :to='{name:"categoryEdit",params:{id:customer.id}}' class="btn btn-success">Editar</router-link>
                                        <button type="button" @click="deleteCustomer(customer.id)" class="btn btn-danger">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No hay Clientes.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"customers",
    data(){
        return {
            customers:[]
        }
    },
    mounted(){
        this.getCustomers()
    },
    methods:{
        async getCustomers(){
            await this.axios.get('/api/customer').then(response=>{
                this.customers = response.data
            }).catch(error=>{
                console.log(error)
                this.customers = []
            })
        },
        deleteCustomer(id){
            if(confirm("¿Estás seguro de eliminar este cliente?")){
                this.axios.delete(`/api/customer/${id}`).then(response=>{
                    this.getCustomers()
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
    }
}
</script>